# git ignore file

# files

.DS_Store
*.Rproj
*.tex
*presentation.Rmd
README.html
#
# misc Tex files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.run.xml
*.snm
*.toc
*.xdv 

# folders
.Rproj.user/
analysis/
imgs/
figures/
outlines/
slides/
